<div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Create Meeting</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Meeting Title</label>
        <input type="text" [(ngModel)]="title" class="form-control" id="exampleFormControlInput1" placeholder="Anil giri Jio's Meeting">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Description</label>
        <input type="text" [(ngModel)]="description" class="form-control" id="exampleFormControlInput1" placeholder="Description...">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">HostName</label>
        <input type="text" class="form-control" [(ngModel)]="Createdby" id="Anil" placeholder="Created By">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modelClose" #closeMeetingModal>Close</button>
      <button type="button" class="btn btn-primary" (click)="OnSubmit()">Create</button>
    </div>
  </div>
  