<table style="width: 100%;">
    <tr>
        <th style="width: 70%; vertical-align: top;">
            <div>
                <app-dash-board></app-dash-board>
            </div>
        </th>
        <th style="width: 1%;">
            <div style="border-left: 1px solid black;
            height: 100vh;"></div>
        </th>
        <th style="width: 29%;vertical-align: top;">
            <div>
                <app-up-coming-meeting></app-up-coming-meeting>
            </div>
        </th>
    </tr>

</table>