<nav style="background: #425BA3;height: 60px;">
    <div class="d-flex flex-row">
        <div id="mainDiv">
            <img src="../../assets/IconJioMeet.png" alt="image" width="35" height="35">
        </div>
        <div style="margin-left: 5px;margin-top: 15px;">
            <h5 style="color: white;">{{title}}</h5>
        </div>
        <div style="margin-left: 25px;">
            <button type="button" routerLink="home" class="btn bg-transparent"><i>
                <img src="../../assets/HomeSelected.png" alt="image" width="20" height="20">
                <h6 style="color: white;">{{homeTitle}}</h6>
            </i></button>
        </div>
        <div style="margin-left: 25px;">
            <button type="button" routerLink="chat" class="btn bg-transparent">
                <i>
                    <img src="../../assets/ChatSelected.png" alt="image" width="20" height="20">
                    <h6 style="color: white;">{{chatTitle}}</h6>
                </i>
            </button>
        </div>
        <div style="margin-left: 25px;">
            <button type="button" routerLink="meeting" class="btn bg-transparent">
                <i>
                    <img src="../../assets/MeetingsSelected.png" alt="image" width="20" height="20">
                    <h6 style="color: white;">{{meetTitle}}</h6>
                </i>
            </button>
        </div>
        <div style="margin-left: 25px;">
            <button type="button" routerLink="contact" class="btn bg-transparent"><i>
                <img src="../../assets/ContactsSelected.png" alt="image" width="20" height="20">
                <h6 style="color: white;">{{contactTitle}}</h6>
            </i></button>
        </div>
        <div class="btn-group" id="divProfile">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                AG
              </button>
              <ul class="dropdown-menu">
                <li style="margin-left: 5px;">Anil Giri</li>
                <li style="margin-left: 5px;">anil2.giri@ril.com</li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Status</a></li>
                <li><a class="dropdown-item" href="#">Setting</a></li>
                <li><a class="dropdown-item" href="#">Help</a></li>
                <li><a class="dropdown-item" href="#">What's New</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Check For Update</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign Out</a></li>
              </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>